@{
    ViewData["Title"] = "Home Page";
}
    <link rel="stylesheet" href="~/css/site.css"/>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div class="card landing_banner center"> 
    <p>welcome</p>
    <h1>inflation shown in another light</h1>
    <p>lorem ipsum dolor sit amet</p>
</div>

<div class="row landing_firstItemsRow" >
    <div class="col-lg-4 ">
       <div class="col-lg-10 offset-lg-1 landing_item landing_firstColor" style="text-align:center">
           hellooooooooooooooooooooo    
           <svg style = "text-align:center" xmlns="http://www.w3.org/2000/svg" width="90" height="90" fill="currentColor" class="bi bi-1-circle" viewBox="0 0 16 16">
  <path d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8Zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0ZM9.283 4.002V12H7.971V5.338h-.065L6.072 6.656V5.385l1.899-1.383h1.312Z"/>
</svg>   
        </div>
    </div> 
    <div class="col-lg-4 ">
        <div class="col-lg-10 offset-lg-1 landing_item landing_secondColor" style="text-align:center">
          hellooooooooooooooooooooo    
          <svg style = "text-align:center" xmlns="http://www.w3.org/2000/svg" width="90" height="90" fill="currentColor" class="bi bi-1-circle" viewBox="0 0 16 16">
  <path d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8Zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0ZM9.283 4.002V12H7.971V5.338h-.065L6.072 6.656V5.385l1.899-1.383h1.312Z"/>
</svg>   
       </div>
   </div> 
   <div class="col-lg-4 ">
       <div class="col-lg-10 offset-lg-1 landing_item landing_thirdColor" style="text-align:center">
           hellooooooooooooooooooooo    
           <svg style = "text-align:center" xmlns="http://www.w3.org/2000/svg" width="90" height="90" fill="currentColor" class="bi bi-1-circle" viewBox="0 0 16 16">
  <path d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8Zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0ZM9.283 4.002V12H7.971V5.338h-.065L6.072 6.656V5.385l1.899-1.383h1.312Z"/>
</svg>   
        </div>
    </div> 


</div>
<div class="landingPageVerticalSeparator"></div>
<div class="row">
    <div class="col-lg-6">
        <p>About us</p>
        <h2>Unique ideas and soluation</h2>
        <p>LLorem ipsum dolor sit amet LLorem ipsum dolor sit amet LLorem ipsum dolor sit amet LLorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet<</p>
        <button>READ MORE</button>
    </div>
    <div class="col-lg-6 landing_posRelative">
        <div class="landing_secondImageMargin"></div>
        <img class="landing_secondRowImage" src="https://imgs.search.brave.com/WylfdlH6YkDiq6ratyqe1R61GlyTThAs3umASd5ALto/rs:fit:1200:1200:1/g:ce/aHR0cHM6Ly9pY2hl/Zi5iYmNpLmNvLnVr/L25ld3MvNjI0L2Nw/c3Byb2RwYi9EMzBF/L3Byb2R1Y3Rpb24v/XzEwNTIwMzA0NV9j/cGkuY2hhcnQtbmMu/cG5n" />
    </div>
</div>

